<ion-view title="Chats" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="chats-list4">
      <ion-item class="item-avatar" id="chats-list-item5" ui-sref="tabsController.chatExpanded">
        <h2>Name1</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item6">
        <h2>Name2</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item7">
        <h2>Name3</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item9">
        <h2>Name3</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item10">
        <h2>Name3</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item11">
        <h2>Name3</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chats-list-item8">
        <h2>Name3</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>