<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form3" class="list loginForm">
      <label class="item item-input" id="login-input3">
        <input ng-model="login" type="tel" placeholder="Phone/Email">
      </label>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="verifyOTP" id="login-button1" class="button button-stable  button-block">Log in</a>
      <a ng-click="login()" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>