<ion-view title="Verify OTP" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="verifyOTP-form5" class="list">
      <ion-list id="verifyOTP-list6">
        <label class="item item-input" id="verifyOTP-input10">
          <input type="password" ng-model="otp" placeholder="Enter OTP">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
<!--        ui-sref="tabsController.chats" -->
      <a ng-click="verifyOTP(otp)" id="verifyOTP-button4" class="button button-stable  button-block">Verify</a>
    </form>
  </ion-content>
</ion-view>